<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    {%block title%}
    <title></title>
    {%endblock%}
</head>
<body>
    
{%block content %}

<header class="header">
    <a href="#" class="logo">IDOHOU David</a>


    <nav class="navbar">
        <div class="menu-icon">
            <i class='bx bx-menu'></i>
        </div>
        <ul class="nav-menu">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Skills</a></li>
            <li><a href="#skills">Portfolio</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    
        
</header>

<section class="home" id="home">
   <div class="home-content">
    <h3> Hello it's me </h3>
    <h1> DAVID IDOHOU </h1>
    <h3> And i am a <span class="text"></span> <h3>
        <p>  Microsoft administrator and a web developer specializing in React,<br> with a strong background in managing IT systems and building dynamic web applications.</p>
       <div class="media">
        <a href="" ><i class="bx bxl-facebook" ></i></a>
        <a href=""><i class="bx bxl-whatsapp"></i></a>
        <a href=""><i class="bx bxl-gmail"></i></a>
       </div>
       <a href="" class="btn">More About Me</a>
       </div>
    </section>


    <section class="about" id="about">
        <div class="about">
           <img src="">
        </div>
        <div class="about-text">
            <h2>About <span>Me</span></h2>
            <h4>Full stack developer</h4>
            <p> I am a passionate developer with a strong background as a Microsoft administrator and web developer specializing in React. With 3 years of experience in web development, I excel in creating dynamic, user-friendly applications. My expertise includes managing IT systems and delivering robust, efficient solutions. I am committed to continuous learning and staying updated with the latest technologies to drive innovation in every project.</p>
       <a href="#" class="btn">More Aboout Me</a>
        </div>
    </section>

    <section id="services" class="services">
        <div class="container">
            <h2 class="sub-title">My <span>Services</span></h2>
            <div class="services-list">
                <div>
                    <i class="bx bx-code" style="color:#0eef"></i>
                    <h3>Web Programmer</h3>
                    <p>I develop responsive, efficient web applications using the latest technologies, delivering robust solutions tailored to your specific needs.</p>
                    <a href="#" class="read">Learn More</a>
                </div>
                <div>
                    <i class="bx bx-palette" style="color:#0eef"></i>
                    <h3>UX/UI Design</h3>
                    <p>I create intuitive, user-centered designs that enhance the overall experience, ensuring that interfaces are not only visually appealing but also easy to navigate.</p>
                    <a href="#" class="read">Learn More</a>
                </div>
                <div>
                    <i class="bx bx-bot" style="color:#0eef"></i>
                    <h3>Artificial Intelligence</h3>
                    <p>I design and implement AI-driven solutions that automate processes, provide intelligent insights, and drive innovation across various sectors.</p>
                    <a href="#" class="read">Learn More</a>
                </div>
            </div>
        </div>
    </section>
    



    <h1 class="sub-title">My <span>Skills</span></h1>

  <section id="skills" class="skill">
    <div class="container1">
        <h2 class="heading1">Basic Skills</h2>
        <div class="skills-list">
            <div class="bar">
                <i class="bx bxl-html5" style="color: #0eef;"></i>
                <div class="info">
                    <span style="color: #0eef;">HTML</span>
                </div>
                <div class="progress html">
                    <span></span>
                </div>
            </div>
            

            <div class="bar">
                <i class="bx bxl-html5" style="color: #0eef;"></i>
                <div class="info">
                    <span style="color: #0eef;">HTML</span>
                </div>
                <div class="progress html">
                    <span></span>
                </div>
            </div>



            <div class="bar">
                <i class="bx bxl-html5" style="color: #0eef;"></i>
                <div class="info">
                    <span style="color: #0eef;">HTML</span>
                </div>
                <div class="progress html">
                    <span></span>
                </div>
            </div>





            <div class="bar">
                <i class="bx bxl-html5" style="color: #0eef;"></i>
                <div class="info">
                    <span style="color: #0eef;">HTML</span>
                </div>
                <div class="progress html">
                    <span></span>
                </div>
            </div>


            <div class="bar">
                <i class="bx bxl-html5" style="color: #0eef;"></i>
                <div class="info">
                    <span style="color: #0eef;">HTML</span>
                </div>
                <div class="progress html">
                    <span></span>
                </div>
            </div>


            <div class="bar">
                <i class="bx bxl-html5" style="color: #0eef;"></i>
                <div class="info">
                    <span style="color: #0eef;">HTML</span>
                </div>
                <div class="progress html">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</section>


    <!--<div class="container1">
        <h1 class="head1">EXPERTISE SKILLS</h1>
        <div class="skills-list">
             <div class="bar"><i class="bx bxl-microsoft" style="color: #147bbc;"></i>
                <div class="info">
                    <span>
                   MICROSOFT
                    </span>
                </div>
                <div class="progress html"> 
                    <span></span>
                </div>
             </div>

             <div class="bar"><i class="bx bxl-git" style="color: #147bbc;"></i>
                <div class="info">
                    <span>
                   GIT
                    </span>
                </div>
                <div class="progress html"> 
                    <span></span>
                </div>
             </div>

             <div class="bar"><i class="bx bxl-nodejs" style="color: #147bbc;"></i>
    </div>
    <!-->



<!---
    <section class="port" id="pro">
        <div class="main-text" id="pro">
            <h2>Latest <span>Project</span></h2>

            <div class="port-content">
                <div class="row">
                    <img src="">
                    <div class="layer">
                        <h5>UI/UX Design</h5>
                        <p></p>

                        <a href=""> <i></i> </a>
                    </div>
                </div>
            </div>
        </div>

    </section>
<!-->

<section class="contact" id="contact">
    <div class="contact-content">
        <div class="content-text">
            <h2>Contact <span>Me</span></h2>
            <h4>Let's work Together</h4>
            <p>Feel free to connect, I'm very humble</p>
            <div class="contact-list">
                <div><i class="bx bxs-send"></i> idowuasabidavid@gmail.com</div>
                <div><i class="bx bxs-phone" style="color: #0eef;"></i> +22990239787</div>
            </div>
            <div class="contact-icons">
                <a href=""><i class="bx bxl-facebook-circle" ></i></a>
                <a href="https://wa.me/message/3472Z3HPQVVUP1"><i class="bx bxl-whatsapp" ></i></a>
                <a href= mailto:"idowuasabidavid@gmail.com"><i class="bx bxl-gmail" ></i></a>
            </div>
        </div>
        <div class="contact-form">
            <form action="{% url 'send_emaile' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Enter name" required>
                <input type="email" name="email" placeholder="Enter your email" required>
                <input type="text" name="subject" placeholder="Enter your subject">
                <textarea name="message" rows="5" placeholder="Enter your message"></textarea>
                <input type="submit" value="Submit" class="send">
            </form>
            
        </div>
    </div>
</section>

<div class="last-text">
    <p>Developed by David IDOHOU Copyright 2024</p>
</div>

<a href="#" class="top"><i class="bx bx-up-arrow-alt"></i></a>

{%endblock%}

<script>
    document.querySelector('.menu-icon').addEventListener('click', function() {
        document.querySelector('.nav-menu').classList.toggle('active');
    });
</script>


</body>
</html>